$turquoise: #0bb;

hr {
  border-top: 1px solid #ddd;
}

acme-navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar-inverse {
    // background-color: #056;
    background-color: #078;
    // border-color: #045;
    border-color: #056;
}

.navbar-inverse .navbar-nav > li > a {
  color: #dff;
}

.nav-center {  
  text-align: center;
  ul.nav {
    display: inline-block;
    li {
      display: inline
      a {
        float: left
      }
    }
  }
}

// div.navbar-header {
//   margin-left: 36px !important;
//   padding-left: 12px !important;
//   padding-right: 12px !important;
// }

.navbar-brand {
  color: #bff !important;
  font-family: raleway !important;
}

.navbar-brand span {
  padding-right: 4px;
  // color: #ff0800;
  color: #d94a42;
}

.navbar-nav > .active > a {
  // background-color: #045 !important;
    background-color: #056 !important;

}

.nav-center {
  margin-left: -15px !important;
  margin-right:-15px !important;
}

.nav-pills {
  margin-bottom:-6px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  // background-color:#2b90d9;
  // background-color: #078;
  background-color: $turquoise;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
    font-size: 1.1em;
    margin: 0 0 1.313em;
    color: #444;
    line-height: 1.7;
}

.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

// .button-container {
//     display: flex;

//     // margin: 60px auto;

//     // flex-wrap: wrap;
//     // justify-content: center;
// }


.btn-tommy {
    // background: #2b90d9;
    background: $turquoise;
    cursor: pointer;
    -webkit-user-select: none;
    text-align: center;
    white-space: nowrap;
    text-transform: capitalize;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    text-decoration: none;
    overflow: hidden;
    padding: 10px 10px 12px;
    transition: all 60ms ease-in-out;
    border-width: 0px;
    border-style: none;
    border-color: initial;
    border-radius: 0px;
    flex: 0 0 160px;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 160px;
}

.btn-tommy:disabled {
  color: white;
  opacity: 0.65;
}

.btn-tommy:hover, .btn-tommy:active, .btn-tommy:focus {
  color: white;
  opacity: 0.85;
  transition: all 60ms ease;
}

.btn-tommy:disabled {
  color: white;
  opacity: 0.65;
}

.btn-tommy-white {
    // color: #2b90d9;
    color: $turquoise;
    // border: 2px solid #2b90d9;
    border: 2px solid $turquoise;
    background: transparent;
    background: white;
    cursor: pointer;
    -webkit-user-select: none;
    text-align: center;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    text-decoration: none;
    overflow: hidden;
    padding: 10px 10px 12px;
    transition: all 60ms ease-in-out;
    border-radius: 0px;
    flex: 0 0 160px;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 160px;
}

.btn-tommy-white:hover, .btn-tommy-white.-active, .btn-tommy-white:focus, .btn-tommy-white:active {
    color: white;
    // border-color: #2b90d9;
    // background: #2b90d9;
    border-color: $turquoise;
    background: $turquoise;
  }

.btn-tommy-white:disabled {
  // color: #2b90d9;
  color: $turquoise;
  opacity: 0.65;
  background:transparent;
}


// .btn-primary:hover {
//   -webkit-transition: all 60ms ease;
//     transition: all 60ms ease;
//     opacity: .85;
//     flex: 0 0 160px;
// }



// button styles
// .button {
//   display: flex;
//   overflow: hidden;

//   // margin: 2px;
//   padding: 10px;
//   padding-bottom: 12px;

//   cursor: pointer;
//   user-select: none;
//   transition: all 60ms ease-in-out;
//   text-align: center;
//   white-space: nowrap;
//   text-decoration: none !important;
//   text-transform: none;
//   text-transform: capitalize;

//   color: #fff;
//   border: 0 none;
//   border-radius: 0;

//   font-size: 14px;
//   font-weight: 500;
//   line-height: 1.3;

//   -webkit-appearance: none;
//   -moz-appearance:    none;
//   appearance:         none;
 
//   justify-content: center;
//   align-items: center;
//   flex: 0 0 160px;

//   &:hover {
//     transition: all 60ms ease;

//     opacity: .85;
//   }
  
//   &:active {
//     transition: all 60ms ease;
//     transform: scale(.97);

//     opacity: .75;
//   }
// }

// .button.-blue {
//   color: white;
//   background: #2b90d9;
// }

// .button.-border {
//   color: #2b90d9;
//   border: 2px solid #2b90d9;
//   background: transparent;
  
//   &:hover, &.-active {
//     color: white;
//     border-color: #2b90d9;
//     background: #2b90d9;
//   }
// }

// .button:disabled {
//   opacity: 0.65;
//   cursor: not-allowed;
// }

.page-top {
  margin-top: 50px;
  padding-top: 20px;
  // text-align: center;
}

.page-top h1 {
  font-family: raleway;
  font-size: 40px;
}

// .nav-pills > li.active > a, 
// .nav-pills > li.active > a:hover, 
// .nav-pills > li.active > a, 
// .nav-pills > li.active > a:hover, 
// .nav-pills > li.active > a:focus{
//   background-color: #5bc0de;
// }

a.page-link {
  color: #5C6B7E;
  font-size: 1em;
  padding-right: 18px;
}

a.page-link:hover {
  text-decoration: underline;
}

.tommy-container{
  background-color: #efefef;
  // border-bottom-left-radius: 1%;
  // border-bottom-right-radius: 1%;
}

.volume-icon {
  margin-left: 20px;
  float: left;
  width: 15px;
}
.slider {
  float:left;
  margin-top: 3.1px;
}

//form stuff
input[type="text"],input[type="email"] {
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus, input[type="email"]:focus {
  outline: none;
}

 .glow input[type="text"] {
  width: 25%;
  padding: 10px;
  font-size: 14px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.glow input[type="text"]:focus,
.glow input[type="text"].focus {
  border: solid 1px #707070;
  //box-shadow: 0 0 5px 1px #969696;
}

.glow button {
  height: 41px;
  margin-left: -4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.thick-border input[type="text"] {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
.thick-border input[type="text"]:focus,
.thick-border input[type="text"].focus {
  border: solid 5px #969696;
}

.underline input[type="text"], .underline input[type="email"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.underline input[type="text"]:focus,
.underline input[type="text"].focus,
.underline input[type="email"]:focus,
.underline input[type="email"].focus {
  border-bottom: solid 2px #969696;
}

.inset input[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.inset input[type="text"]:focus,
.inset input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

// .control-group {
//   display: inline-block;
//   vertical-align: top;
//   background: #fff;
//   text-align: left;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.1);
//   padding: 30px;
//   width: 200px;
//   height: 210px;
//   margin: 10px;
// }
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  // background: #e6e6e6;
  background: #ccc;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
// .control:hover input ~ .control__indicator,
// .control input:focus ~ .control__indicator {
//   background: #ccc;
// }
// .control input:checked ~ .control__indicator {
//   background: #2aa1c0;
// }
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  // background: #2b90d9;
  background: $turquoise;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
// .control--checkbox .control__indicator:after {
//   left: 8px;
//   top: 4px;
//   width: 3px;
//   height: 8px;
//   border: solid #fff;
//   border-width: 0 2px 2px 0;
//   transform: rotate(45deg);
// }
// .control--checkbox input:disabled ~ .control__indicator:after {
//   border-color: #7b7b7b;
// }
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
// .control--radio input:disabled ~ .control__indicator:after {
//   background: #7b7b7b;
// }

.answer .radio-inline {
padding-left: 0px;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


//piano css taken from https://codepen.io/garypaul/pen/jgKqc
$ebony : #171C1A;
$ivory: white;

 .piano ol { 
  position: relative; 
  padding: 0; 
  margin: 0 0 10px; 
  display: inline-block;
  //float: left;
  font-size: 0; // to get rid of spaces between keys. ugly, I know.
}

.piano ol.scale-2 {
  margin-left:-4px;
}

.piano li{
  font-size: 16px;
  font-size: 1rem;
  transition: all 0.1s ease-in-out; //  just a little animation

  padding: 0; 
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 220px 15px 50px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px #aaa;

  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: white;
  color: transparent;
  &:hover {
    color: #C0C1BD;
    
  }
  &:active{
    box-shadow: none;
    top: 5px;
    color: #333;
  }
  &.ebony {
    /* build the key shape */
    z-index: 2;
    position: absolute;
    width: 32px;
    top: 0px;
    margin-left: -16px; // align the ebony keys
    padding: 130px 0px 10px;

    /* Typography */
    text-align: center;
    font-size: 0.66667rem;
    color: transparent;
   
    
    border-radius: 0 0 2px 2px;
    border-width: 0 6px 12px;
    border-color: #000;
    border-bottom-color: #424546;
    background: $ebony;
    box-shadow: 0 3px 5px #ccc, inset 0px 0px 0px 1px rgba(gainsboro,0.2);
    
    &:hover {
        color: gainsboro;
    }
    
    &:active {
      border-bottom-width: 8px;
      padding-top: 135px;
      color: $ivory;
    }
  }
}