$turquoise: #0bb;


/*basic stuff*/

hr {
  border-top: 1px solid #ddd;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
    font-size: 1.1em;
    margin: 0 0 1.313em;
    color: #444;
    line-height: 1.7;
}

.extra-padding-top {
  padding-top: 54.5px;
}

.page-top {
  margin-top: 50px;
  padding-top: 20px;
  // text-align: center;
}

.page-top h1 {
  font-family: raleway;
  font-size: 40px;
}

.nav-pills {
  margin-bottom:-6px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  //background-color: $turquoise;
  //background-color: #eeeeee;
  background-color: $turquoise;
  //color: #5C6B7E;
  color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    // background-color: $turquoise;
    //background-color: #cecece;
    background-color: #eeeeee;
    color:navy;
    //color: white;
}

a.page-link {
  color: #5C6B7E;
  font-size: 1em;
  padding-right: 18px;
}

a.page-link:hover {
  text-decoration: underline;
}

.tommy-container{
  background-color: #efefef;
  // border-bottom-left-radius: 1%;
  // border-bottom-right-radius: 1%;
}