$turquoise: #0bb;

/*radio buttons*/

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  // background: #e6e6e6;
  background: #ccc;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
// .control:hover input ~ .control__indicator,
// .control input:focus ~ .control__indicator {
//   background: #ccc;
// }
// .control input:checked ~ .control__indicator {
//   background: #2aa1c0;
// }
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  // background: #2b90d9;
  background: $turquoise;
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
// .control--checkbox .control__indicator:after {
//   left: 8px;
//   top: 4px;
//   width: 3px;
//   height: 8px;
//   border: solid #fff;
//   border-width: 0 2px 2px 0;
//   transform: rotate(45deg);
// }
// .control--checkbox input:disabled ~ .control__indicator:after {
//   border-color: #7b7b7b;
// }

.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
// .control--radio input:disabled ~ .control__indicator:after {
//   background: #7b7b7b;
// }

.answer .radio-inline {
padding-left: 0px;
}