<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="container">
      <div class="col-lg-1 col-md-1"></div>
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="{{ctrl.navStates.kHomeState}}">
          <span class="glyphicon glyphicon-apple"></span>Tommy's Music Theory
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
          <!-- <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kHomeState}}">Home</a></li> -->
          <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kLessonState}}">Lessons</a></li>
          <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kExerciseState}}">Exercises</a></li>
          <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kFreeplayState}}">Free Play</a></li>
          <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kContactState}}">Contact</a></li>
          <!-- <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kLoginState}}">Log In</a></li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>
