<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <a class="navbar-brand" ui-sref="{{ctrl.navStates.kHomeState}}">
            <span class="glyphicon glyphicon-apple"></span>Tommy's Music Theory
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6" uib-collapse="!isNavCollapsed">
          <ul class="nav navbar-nav">
            <!-- <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kHomeState}}">Home</a></li> -->
            <li ui-sref-active="active" class="dropdown" uib-dropdown on-toggle="toggled(open)">
              <a ui-sref="{{ctrl.navStates.kCh1State}}" class="dropbtn menu" uib-dropdown-toggle>  Lessons </a>
              <div class="dropdown-content" uib-dropdown-menu>
                  <a ui-sref="{{ctrl.navStates.kCh1State}}">1: Basics</a>
                  <a ui-sref="{{ctrl.navStates.kCh2State}}">2: Notation</a>
                  <!-- <a ui-sref="{{ctrl.navStates.kCh3State}}">Chapter 3</a> -->
                </div>
            </li>
            <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kExerciseState}}" class="menu">Exercises</a></li>
            <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kContactState}}" class="menu">Contact</a></li>
            <li ui-sref-active="active"><a ui-sref="{{ctrl.navStates.kFreeplayState}}" class="menu">Play</a></li>
            <li ng-if="ctrl.loggedIn == false" ui-sref-active="active" class="login pull-right">
              <a ui-sref="{{ctrl.navStates.kLoginState}}" class="menu">
                <span class="glyphicon glyphicon-log-in"></span>Log In
              </a>
            </li>
            <li ng-if="ctrl.loggedIn == true" ui-sref-active="active" class="dropdown pull-right">
              <a href="#" class="dropbtn menu">
                <strong><span ng-bind="ctrl.username"></span></strong>
              </a>
              <div class="dropdown-content">
                  <a href="#">Profile</a>
                  <a href="#" ng-click="ctrl.logOut()">Log Out</a>
                  <!-- <a ui-sref="{{ctrl.navStates.kCh3State}}">Chapter 3</a> -->
                </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
