.lesson-header h4 {
	font-size: 24px;
	font-family: raleway;
	text-decoration: underline;
}

//quiz

.answer input[type="text"] {
	width: 300px;

}

//glossary
.search-results { 
    position: absolute;
    width: 350px;
    border: 2px solid #034;
    background: white;
    // border-bottom-right-radius: 2%;
    // border-bottom-left-radius: 2%;
    z-index: 3;
    right: 15px;
    padding: 10px;
    margin-top:-20px;
}

.search-results >ul{
  list-style-type: none;
  padding-left: 0;
}

.search-item {
  width: 100%;
}

p.term {
  font-size: 12px;
}

p.term strong {
  color: #034;
}

#wrap {
  display: inline-block;
  height: 50px;
  padding: 0;
  position: relative;
}

.search input[type="text"] {
  height: 35px;
  font-size: 18px;
  display: inline-block;
  font-family: Raleway;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

// .search input[type="text"]:focus:hover {
//   //border-bottom: 1px solid #aaa;
// }

.search input[type="text"]:focus {
  width: 350px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

// .search input[type="submit"] {
.search i {
  color: #045;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  // border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  // cursor: pointer;
  // cursor: pointer;
  // transition: opacity .4s ease;
}

// .search i:hover {
//   color: #d00;
// }