
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

a.btn-circle {
    color: white;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

a.btn-circle:hover {
    color: white;
}
.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.home-header {
	background-image: url("home/img/tommy-guitar-final.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height:95vh;
  	margin-top: 5vh
}

.home-title {
	margin-top: 30vh;
}

.home-title h1, .home-title h5 {
	font-family: 'Raleway', sans-serif;
}

.home-title h1 {
	color: #bbffff;
	font-size: 4em;
  font-weight: bold;
}

.home-title h5 {
	font-size: 2em;
  color: #F5F5F5;
}

.home-description {
	margin-top: 20px;
	height: 90vh;
}

.home-description-title h1 {
  font-size: 2.5em;
}

.feedback-description {
	margin-top: 20px;
	height: 95vh;
	background-color: #333;
}

.feedback-description h1 {
	color: goldenrod;
}

.home-description h1, .feedback-description h1{
	font-family: 'Raleway', sans-serif;

}