$turquoise: #0bb;

#interval-trainer-piano > ol > li {
  font-size: 0.8rem;
  width: 45px;
}

#interval-trainer-piano > ol > li.ebony {
	// color: gainsboro;
	width: 38px;
}

#interval-trainer-piano li:hover {
    // color: #5bc0de;
    // color: goldenrod;
    color: $turquoise;
    font-family: raleway;
    font-weight: 800;
    // font-size: 9px;
    text-align: center;
}

.intervaltrainer-top h4, .intervaltrainer-questions h4, .intervaltrainer-lives h4 {
	text-decoration: none;
}

.instructions h3 {
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: raleway;
}

.instructions p {
	font-size: 14px;
}

.intervaltrainer-container {
	text-align:center;
}

.intervaltrainer {
	background-color: #efefef;
	display: inline-block;
	padding: 20px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	// border: 2px solid #5bc0de;
	// border-radius: 1%;
	//background-color: #eff;
}

.intervaltrainer-header {
	text-align: center;
}

.intervaltrainer-header h3{
	display:inline-block;
	margin-top: 0px;
	font-size: 16px;
}

.intervaltrainer-details {
	display: inline-block;
}

// .intervaltrainer-volume div{
// 	margin-left: 15%;
// }

.levels .list-group-item {
	padding: 6px 14px;
}

.levels button.list-group-item {
	font-size: 14px;
}

.instructions-button {
	margin-bottom: 10px;
}

.intervaltrainer-score, .intervaltrainer-correct, .intervaltrainer-attempted {
	text-align: center;
	width: 33%;
	float: left;
} 

.intervaltrainer-lives, .intervaltrainer-questions {
	width: 50%;
	text-align: center;
	float: left;
} 

.level-up {
	color: green;
}

.start-over {
	color: red;
}


.animate-show h3 {
	font-size: 18px;
	margin-right: 10px;
	margin-top: 0px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
