<div class="piano-background">
	<div class="piano" id="basic-piano">
		<ol class="scale-1">
			<li ng-repeat="key in kCtrl.pianoKeys | limitTo: kCtrl.limit(0) | startFrom: kCtrl.low" 
				ng-bind="key.note" 
				ng-class="key.class" 
				ng-mousedown="kCtrl.k.playNote(kCtrl.note($index))" 
				ng-mouseup="kCtrl.k.stopNote()">
			</li>
		</ol> 
		<ol class="scale-1 move-left" ng-if="kCtrl.difference-12 > 0">
			<li ng-repeat="key in kCtrl.pianoKeys | limitTo: kCtrl.limit(12) | startFrom: kCtrl.low" 
				ng-bind="key.note" 
				ng-class="key.class" 
				ng-mousedown="kCtrl.k.playNote(kCtrl.note($index+12)) " 
				ng-mouseup="kCtrl.k.stopNote()">
			</li>
		</ol>
		<ol class="scale-1 move-left" ng-if="kCtrl.difference-24 > 0">
			<li ng-repeat="key in kCtrl.pianoKeys | limitTo: kCtrl.limit(24) | startFrom: kCtrl.low" 
				ng-bind="key.note" 
				ng-class="key.class" 
				ng-mousedown="kCtrl.k.playNote(kCtrl.note($index+24)) " 
				ng-mouseup="kCtrl.k.stopNote()">
			</li>
		</ol>
	</div>
</div>
