<div class="container-fluid">
	<div class="row home-header">
		<div class="text-center home-title">
			<h1>Tommy's <br/> Music Theory</h1>
			<h5>Lessons and Exercises to learn music theory from the ground up</h5>
			<a class="btn btn-circle page-scroll" ng-click="ctrl.gotoAnchor('music-theory')">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
	</div>
</div>
<div id="music-theory" class="container anchor">
	<div class="row home-description">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-10 col-md-10">
			<div class="home-description-title">
				<h1>Why learn Music Theory?</h1>
			</div>
			<br>
			<p>
				Learning <strong>music theory</strong> is learning the universal language of music.
			</p>
			<p>
				Just like we have words to describe colors, we have a language to describe music.
			</p>
			<p>
				As long as you have good intuition, you do not need to know this language in order to play music, just like you do not need to know the names of the colors to paint.
			</p>
			<p>
				However, learning this language gives you a means to communicate and describe what is happening in a way that is understood by many people. Learning this language also gives you a means to break down and analyze music.
			</p>
			<p>
				By knowing music theory well, you will be able to learn songs faster, compose and improvise with confidence, translate your knowledge to other instruments, and communicate with other musicians effectively on the bandstand, in a rehearsal, or in a music lesson. 
			</p>
		</div>
	</div>
</div>

