<div class="row">
  <div class="col-md-8 col-md-offset-2 tommy-container">
    <h4 class="auth-header">Register</h4>
    <form ng-submit="ctrl.onSubmit('register')">
      <div class="form-group underline">
        <label for="name">First name</label>
        <input type="text" class="form-control" id="fistName" placeholder="Enter your first name">
      </div>
      <div class="form-group underline">
        <label for="name">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
      </div>
      <div class="form-group underline">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="ctrl.registerCredentials.email">
      </div>
      <div class="form-group underline">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="uesrname" placeholder="Enter username">
      </div>
      <div class="form-group underline">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="ctrl.registerCredentials.password">
      </div>
      <button type="submit" class='btn btn-tommy'>Register</button>
    </form>
    <br />
  </div>
</div>
<br />