<div class="container">
	<div class="page-top">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="text-center">
					<h1>Contact</h1>
				</div>
				<br />
				<div class="nav-center">
					<ul class="nav nav-justified nav-pills">
						<li ui-sref-active="active">
							<a class="page-link" ui-sref="{{ctrl.navStates.kFeedbackState}}">
								Feedback
							</a>
						</li>
						<li ui-sref-active="active">
							<a class="page-link" ui-sref="{{ctrl.navStates.kContactLessonState}}">
								Lessons
							</a>
						</li>
						<li ui-sref-active="active">
							<a class="page-link" ui-sref="{{ctrl.navStates.kDonateState}}">
								Donate
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div ui-view></div>
</div>