<div class="row" ng-hide="fbCtrl.formSubmitted">
	<div class="col-md-10 col-md-offset-1 tommy-container">
		<div class="feedback-header">
			<br />
			<h4>Contact Me for Lessons in Music Theory or Guitar! </h4>
		</div>
		<br />
		<div>
			<h3>Tommy Holladay</h3>
			<p><a href="http://tommyholladay.com" target="_blank">tommyholladay.com</a> <br />
			858.774.3774 <br />
			thomaswholladay@gmail.com</p>
		</div>
		<div>
			<img src="http://tommyholladay.com/wpsite/music/tommy.jpg" alt="Tommy Holladay">
		</div>
		<br />
	</div>
</div>
<br />