<div class="row">
		<div class="intervaltrainer col-md-10 col-md-offset-1">
			<div class="instructions">
				<div class="text-center">
					<br />
					<h3>Leaderboard</h3>
					<br />
				</div>
				<div class="row">
					<div>
						<table class="table table-hover">
						    <thead>
						      <tr>
						        <th>Username</th>
						        <th>Score</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="leader in lCtrl.leaders">
						        <td ng-bind="leader.Username"></td>
						        <td ng-bind="leader.Score"></td>
						      </tr>
						    </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>