<div class="row"> 
	<div class="tommy-container col-md-10 col-md-offset-1">
		<div class="lesson-header">
			<br />
			<h4>The Notes</h4>
		</div>
		<p>A <strong>note</strong> represents a pitch, or a certain frequency.</p>
		<p>
			In Western Music, we base the names of the notes on the first <strong>7</strong> letters of the alphabet: 
			<strong> A, B, C, D, E, F, G.</strong> 
		</p>
		<p>
			In addition to these 7 notes (which are called the natural notes), we have <strong>5</strong> notes in between.  These notes in between are called the <strong>sharps</strong> and <strong>flats</strong>.  Each of these notes has two names.  For example, the note in between C and D can be called either C-sharp (notated C<sup>#</sup>) or D-flat (notated D<sup>b</sup>).  On the piano, these are the black notes.
		</p>
		<p>
			Therefore, all together we have a total of <strong>12</strong> notes.  If we look at the piano below, we can see all 12 notes: 7 white notes (the natural notes) and 5 black notes (the sharps and flats).
		</p>
		<p> 
			<strong>Note: </strong>As the piano notes moves left to right, the pitch gets higher.  After G#, the next note is A, but sounds higher than the previous A. Notes with the same name can actually have different frequencies!!! The relationship between these two As is called an octave.
		</p>
		<keyboard low=9 high=22></keyboard>
		<volumecontrol></volumecontrol>
		<quiz questions="notesCtrl.questions" link="ctrl.navStates.kStepState"></quiz>
	</div>
</div>
<br />