<div class="row"> 
	<div class="col-md-10 col-md-offset-1 tommy-container">
		<div class="lesson-header">
			<br />
			<h4>Whole Steps and Half Steps</h4>
		</div>
		<p>
			Now that you know the names of the notes, you need to understand how to relate the notes to each other.
		</p>
		<p>
			One way to do so is to use <strong>whole steps</strong> and <strong>half steps</strong>, also known as wholetones and semitones respectively. 
		</p>
		<p>
			A <strong>half step</strong> is the smallest distance in traditonal western music.  It literally means one note away.  Some examples of half-steps are E to F, C to C#, or (going down) G to Gb.
		</p>
		<p>
			A <strong>whole step</strong> means two notes away and is equal to two half steps. Some examples of whole-steps are E to F#, C to D, or (going down) G to F.
		</p>
		<p>
			<strong>Whole steps and half steps are the basic building blocks of scales, intervals, melodies, and chords.</strong>
		</p>
		<p>
			<strong>Note: </strong> I added one extra key to the piano this time (an extra C on top).  Notice that there are no sharps and flats (or black notes) between B and C and between E and F.  This means, a half step up from E is F. F is actually synonymous with E#, and E is synonymous with Fb.  Similarly, a half step up from B is C.  Therefore, C is synonymous with B#, and B is synonymous with Cb.
		</p>
		<p>
			<strong>Also Note: </strong> Notes with the same name can actually have different frequencies.  The two C's on the piano below are both called C, but one sounds higher than the other.  The C that is higher is actually exactly double the frequency of the C that is lower.  The relationship between these two C's is called an <strong>octave</strong>.
		</p>
		<div class="piano">
			<ol class="scale-1">
				<li ng-mousedown="ctrl.k.playNote(12)" ng-mouseup="ctrl.k.stopNote()">C</li>
				<li ng-mousedown="ctrl.k.playNote(13)" ng-mouseup="ctrl.k.stopNote()" class="ebony">C# D♭</li>
				<li ng-mousedown="ctrl.k.playNote(14)" ng-mouseup="ctrl.k.stopNote()">D</li>
				<li ng-mousedown="ctrl.k.playNote(15)" ng-mouseup="ctrl.k.stopNote()" class="ebony">D# E♭</li>
				<li ng-mousedown="ctrl.k.playNote(16)" ng-mouseup="ctrl.k.stopNote()">E</li>
				<li ng-mousedown="ctrl.k.playNote(17)" ng-mouseup="ctrl.k.stopNote()">F</li>
				<li ng-mousedown="ctrl.k.playNote(18)" ng-mouseup="ctrl.k.stopNote()" class="ebony">F# G♭</li>
				<li ng-mousedown="ctrl.k.playNote(19)" ng-mouseup="ctrl.k.stopNote()">G</li>
				<li ng-mousedown="ctrl.k.playNote(20)" ng-mouseup="ctrl.k.stopNote()" class="ebony">G# A♭</li>
				<li ng-mousedown="ctrl.k.playNote(21)" ng-mouseup="ctrl.k.stopNote()">A</li>
				<li ng-mousedown="ctrl.k.playNote(22)" ng-mouseup="ctrl.k.stopNote()" class="ebony">A# B♭</li>
				<li ng-mousedown="ctrl.k.playNote(23)" ng-mouseup="ctrl.k.stopNote()">B</li>
				<li ng-mousedown="ctrl.k.playNote(24)" ng-mouseup="ctrl.k.stopNote()">C</li> 
			</ol> 
		</div>
		<volumecontrol></volumecontrol>
		<quiz questions="stepsCtrl.questions" link="ctrl.navStates.kIntervalState"></quiz>
	</div>
</div>
<br />